@import 'src/styles.scss';

.news {
  min-height: 100vh;

  .containers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 10vh 5vh 0 5vh;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;

    width: 50vh;
    height: 60vh;
    h2 {
      margin: 0;
    }

    .title {
      font-size: 2vh;
      text-decoration: underline;
      margin: 0;
    }
    .subtitle p {
      font-size: 2vh;
      margin: 1vh;
    }
    a {
      font-size: 1.8vh;
      text-decoration: none;
      color: $terciary-color;
    }


    .tweet {

      img {
        width: 40vh;
        height: auto;
      }
    }

  }
  h1 {
    font-size: 5vh;
    margin: 5vh;
    padding-top: 5vh;
    span {
      color: $terciary-color;
    }
  }


}
