<div id="news" class="news">
  <h1>Últimas <span>Notícias</span>.</h1>
  <div class="containers">
    <div class="container" *ngFor="let new of news">
        <div class="card">
          <div class="title" >
            <h2>{{new.title}}</h2>
          </div>
            <div class="subtitle">
            <p>{{ new.subTitle }}</p>
            </div>
          <a href="{{new.link}}" target="_blank">Veja mais clicando aqui!</a>
        </div>
      <div class="tweet">
        <img src="{{new.img}}" alt="Imagem Relacionada A Notícia">
      </div>
    </div>
  </div>
</div>
