<header class="main-header" [class.hidden]="!headerVisible">
  <div class="logo">
    <img src="assets/images/logoFuria-400x400.png" alt="Furia">
  </div>
  <nav class="nav">
    <ul>
      <li><a href="#" (click)="scrollTo('home')" [class.active]="currentCategory === 'home'">HOME</a></li>
      <li><a href="#" (click)="scrollTo('schedule')" [class.active]="currentCategory === 'schedule'">AGENDA</a></li>
      <li><a href="#" (click)="scrollTo('news')" [class.active]="currentCategory === 'news'">NOTÍCIAS</a></li>
      <li><a href="#" (click)="scrollTo('lines')" [class.active]="currentCategory === 'lines'">LINES</a></li>
    </ul>
  </nav>
</header>
