@import 'src/styles.scss';

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  h1 {
    font-size: 2rem;
    margin: 0;
  }
  h2 {
    margin: 1.5vh;
  }
  .buttons {
    display: flex;
    gap: 10px;
    margin-right: 1.5vh;
    button {
      display: inline-block;
      font-family: 'Roboto Condensed', sans-serif;
      background-color: $secundary-color;
      color: $primary-color;
      padding: 5px 10px;
      font-size: 14px;
      text-decoration: none;
      border: 1px solid $primary-color;
      cursor: pointer;
      transform: skew(-20deg);

      transition: background-color 0.3s ease;
    }
    button:hover{
      background-color: $hover-button-bg-color;
    }
    .active {
      background-color:  $hover-button-bg-color; ;
    }

    button span {
      display: inline-block;
      transform: skew(20deg);
    }
}
}

.player-profiles,  .coach-profiles {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  flex-wrap: wrap;
  .profile {
    text-align: center;
    margin: 0px 20px 50px 20px;
    h2 {
      font-weight: normal;
      font-size: 1.5rem;
      margin: 0;
      span {
        color: #BC9A40;
      }
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: $terciary-color;
      text-align: center;
    }
    p {
      margin: 3px;
    }
      #player-photo {
        height: 150px;
        width: auto;
      }

      #mini-logo {
        width: 20px;
        height: auto;
        }
      }
    }


