<div>
  <div class="header" id="lines">
    <h2>Nossas Lines.</h2>
    <div class="buttons">
      <button (click)="changeLine('masc')" [class.active]="currentLine === 'masc'"><span>MASCULINA</span></button>
      <button (click)="changeLine('fem')" [class.active]="currentLine === 'fem'"><span>FEMININA</span></button>
      <button (click)="changeLine('acad')" [class.active]="currentLine === 'acad'"><span>ACADEMY</span></button>
    </div>
  </div>

  <div class="player-profiles">
    <div class="profile" *ngFor="let player of players">
      <img [src]="player.photo" id="player-photo" alt="{{ player.name }}">
      <h2>{{ player.firstName }} <br> <span>{{ player.nickname }}</span> <br> {{ player.lastName }}</h2>
      <p>{{ player.role }}</p>
      <a [href]="'https://instagram.com/' + player.username" target="_blank"><img src="assets/images/instagram-white-icon.png" id="mini-logo" alt="instagram">|&#64;{{ player.username }}</a>
    </div>
  </div>
  <div class="coach-profiles">
    <div class="profile" *ngFor="let coach of coachs">
      <h2>{{ coach.firstName }} <br> <span>{{ coach.nickname }}</span> <br> {{ coach.lastName }}</h2>
      <p>{{ coach.role }}</p>
      <a [href]="'https://instagram.com/' + coach.username" target="_blank"><img src="assets/images/instagram-white-icon.png" id="mini-logo" alt="instagram">|&#64;{{ coach.username }} </a>
    </div>
  </div>
</div>
<p>blank</p>
<p>blank</p>
<p>blank</p>
<p>blank</p>
<p>blank</p>
<p>blank</p>
<p>blank</p>
<p>blank</p>
<p>blank</p>
<p>blank</p>
<p>blank</p>
<p>blank</p>
<p>blank</p>
<p>blank</p>
<p>blank</p>
<p>blank</p>
<p>blank</p>
<p>blank</p>
